* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 05rem;
  background-color: #ccc;
}

.nav-items {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.container {
  text-align: center;
}

.home {
  margin-top: 4rem;
  padding: 2rem;
}
.home h3 {
  margin: 2rem;
}

h2 {
  margin: 1rem;
}
.banners {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.banners .banner {
  border: 1px solid #ccc;
  padding: 1rem;
  flex-grow: 1;
  width: 33%;
}
.banner p {
  margin: 0.5rem;
}
